<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>    
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h2>使用者登入 </h2>

                <form action = "/user/login" method = "post">
                    <div class="form">
                        <% if(message != ''){ %>
                            <h3> <%= message %> <h3>
                        <% } %>
                        <span class="name">帳號 </span>
                        <span class="value"><input type="text" name="account"></span>
                        <br/>
                                                    
                        <span class="name">密碼 </span>
                        <span class="value"><input type="password" name="password"></span>
                        <br/>
                                    
                        <span class="name"></span>
                        <span class="value" style="float: right"><input class="button" type="submit" value="登入" ></span>    
                    </div>    
                </form> 
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</html>
