<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head') -%>
        <style>
            .tag:hover {
                cursor: pointer;
            }
            #gallery{
                border: none;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <form action = "/member/edit" enctype="multipart/form-data" method = "post">
                    <h1><i class="fa fa-edit" aria-hidden="true"></i> 編輯會員</h1>
                    <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                        <div class = "inline-block">
                            <div class = "left" style="margin-right:6em">
                                <div class="left" style="width: 200px;">
                                    <span class="value"><input type="hidden" name="picture" value="<%= items.picture %>"></span>
                                    <div class="avatar" style="height:10em;width:10em;margin-right:3em">
                                        <div id="gallery"><img id="preview" src='/<%= items.picture %>' width="100%"></div>
                                    </div>
                                    <span class="value"><input type="file" name="picture" id = "fileinput" accept = "image/*" value = "<%= items.picture %>" style = "display: none;" /></span>
                                    <input type="button" class="button" style = "width:150px; margin: 0.5em 0 0 10px;" value = "選擇圖片" onclick = "document.getElementById('fileinput').click();" />
                                </div>
                                <div class="right">
                                    <div class = "item">
                                        <span style = "font-size: 30px; font-weight: 800;"><%= items.memno %></span>
                                    </div>

                                    <div class = "item">
                                        <span style = "font-size: 30px; font-weight: 800;"><%= items.account %></span>
                                    </div>

                                    <div class = "item">
                                        <input name="memname" placeholder="輸入名子" style = "font-size: 30px;width: 120px;height: 45px;" value="<%= items.memname %>">
                                        <input name="nickname" placeholder="輸入稱號" style = "font-size: 30px;width: 300px;height: 45px;" value="<%= items.nickname %>">
                                    </div>
                                </div>
                                <div style="margin-top:11em">
                                    <div class = "left">
                                        <div class = "item" style="margin-right:20em">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">生日: </span>
                                            <input name="birth" value = "<%= items.birth %>" type="date" style = "font-size: 20px">
                                        </div>

                                        <div class = "item">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">性別: </span>
                                            <% if(items.sex=='男'){ %>
                                                <input type="radio" name="sex" value="男" checked> 男
                                                <input type="radio" name="sex" value="女" > 女
                                            <% }else{ %>
                                                <input type="radio" name="sex" value="男" > 男
                                                <input type="radio" name="sex" value="女" checked> 女
                                            <% } %>
                                        </div>
                                        <div class = "item">
                                            <span class="name" style="font-size:20px; font-weight: 600;">email: </span>
                                            
                                            <input placeholder="輸入email" name="email" type="text" style="font-size:20px;height: 29px" value="<%= items.email %>">
                                        </div>
            
                                        <div class = "item">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">備用 Email: </span>
                                            <input placeholder="輸入email" name="backupemail" type="text" style="font-size:20px;height: 29px" value="<%= items.backupemail %>">
                                        </div>
                                    </div>
                                    <div class = "right">
            
                                        <div class = "item">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">電話號碼: </span>
                                            
                                            <input placeholder="輸入電話" name="tel" type="text" style="font-size:20px;height: 29px;width:250" value="<%= items.tel %>">
                                        </div>
            
                                        <div class = "item">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">地址: </span>
                                            
                                            <input placeholder="輸入地址" name="address" type="text" style="font-size:20px;height: 29px;width:350px" value="<%= items.address %>">
                                        </div>
            
                                        <div class = "item">                     
                                            <span class="name" style="font-size:20px; font-weight: 600;">接受付款方式: </span>
                                            <br>
                                            <span id='variableJSON' hidden>
                                                <%= JSON.stringify(items.payment); %>
                                            </span>
                                            <% for(var i=0;i<payment.length;i++){ %>
                                                <input type="checkbox" name="payno" class="tag" style="background-color: #888" value="<%= payment[i].payno %>"><%= payment[i].payname %>
                                            <% } %>
                                        </div>
            
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                        </div>
                            <span class="value"><input type="hidden" name="memno" value="<%= items.memno %>"></span>
                            <div class="value update"><input class="button" type="submit" value="修改完成"></div>
                        
                    </div>
                </form>
            </div>

        </div>
        <%- include('public/footer'); -%>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>

    <script>
        var img = document.getElementById(preview);
        var variableJSON = JSON.parse($('#variableJSON').text());
        $("#variableJSON").remove();
        $(window).on('load',function(){
            for (var i = 0; i < variableJSON.length; i++) {
                $("input[value="+variableJSON[i].payno+"]").attr("checked","checked")
            }
        })
    </script>
    <script>
        function previewImage(file) {
            var galleryId = "gallery";

            var gallery = document.getElementById(galleryId);
            var imageType = /image.*/;

            if (!file.type.match(imageType)) {
                throw "File Type must be an image";
            }

            // var thumb = document.createElement("div");
            // thumb.classList.add('thumbnail'); // Add the class thumbnail to the created div

            var img = document.createElement("img");
            img.file = file;
            _gw = parseInt($("#gallery").css("width"));
            img.width = _gw;
            _img = new Image();
            var _URL = window.URL || window.webkitURL;
            _img.src = _URL.createObjectURL(file);
            _img.onload = function () {
                var n = this.height * (_gw / this.width);
                $("#gallery").attr("height" ,_gw);
            };

            $(gallery).empty();
            // thumb.appendChild(img);
            // gallery.appendChild(thumb);
            gallery.appendChild(img);

            // Using FileReader to display the image content
            var reader = new FileReader();
            reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
            reader.readAsDataURL(file);
        }

        var uploadfiles = document.querySelector('#fileinput');
        uploadfiles.addEventListener('change', function () {
            previewImage(this.files[0]);
        }, false);
    </script>
</html>