<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head') -%>

        <style>
            a:not(:nth-child(3)) .thumbnail{
                margin-right: 142px; 
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                    <div class = "inline-block">
                        <div class = "left" style="margin-right:6em">
                            <div class = "avatar" style="height:10em;width:10em;margin-right:3em">
                                <img src = "/<%= items.picture %>" width="100%">
                            </div>
                            <div class="left">
                                <div class = "item">
                                    <span style = "font-size: 30px; font-weight: 800;"><%= items.memno %></span>
                                </div>

                                <div class = "item">
                                    <span style = "font-size: 30px; font-weight: 800;"><%= items.account %></span>
                                </div>

                                <div class = "item">
                                    <% if (items.nickname == null || items.nickname.trim() == ''){ %>
                                        <span style = "font-size: 30px"><%= items.memname %></span>
                                    <% }else if (items.memno != user){ %>
                                        <span style = "font-size: 30px"><%= items.nickname %></span>
                                    <% }else{ %>
                                        <span style = "font-size: 30px"><%= items.memname %>(<%= items.nickname %>)</span>
                                    <% } %>
                                </div>
                            </div>
                            <div style="margin-top:11em">
                                <div class = "left">
                                    <div class = "item" style="margin-right:20em">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">生日: </span>
                                        <span style="font-size: 20px; font-weight: 700;"><%= items.birth %></span>
                                    </div>

                                    <div class = "item">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">性別: </span>
                                        <span style="font-size: 20px; font-weight: 700;"><%= items.sex %></span>
                                    </div>
                                    
                                    <div class = "item">          
                                        <span class="name" style="font-size:20px; font-weight: 600;">email: </span>
                                        <span style = "font-size: 20px; font-weight: 700;"><%= items.email %></span>
                                    </div>
        
                                    <div class = "item">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">備用 Email: </span>
                                        <span style="font-size: 20px; font-weight: 700;"><%= items.backupemail %></span>
                                    </div>
                                </div>
                                <div class = "right">

            
                                    <div class = "item">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">電話號碼: </span>
                                        <span style="font-size: 20px; font-weight: 700;"><%= items.tel %></span>
                                    </div>
        
                                    <div class = "item">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">地址: </span>
                                        <span style="font-size: 20px; font-weight: 700;"><%= items.address %></span>
                                    </div>
        
                                    <div class = "item">                     
                                        <span class="name" style="font-size:20px; font-weight: 600;">接受付款方式: </span>
                                        <br>
                                        <% for(var i=0;i<items.payment.length;i++){ %>
                                            <span class="tag"><%= items.payment[i].payname %></span>
                                        <% } %>
                                    </div>
        
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <% if(items.memno == user){ %>
                        <form action = "/member/edit/form" method = "post">
                            <span class="value"><input type="hidden" name="memno" value="<%= items.memno %>"></span>
                            <div class="value update"><input class="button" type="submit" value="修改"></div>
                        </form>
                    <% }else{ %>
                        <form action = "/member/report" method = "post">
                            <span class="value"><input type="hidden" name="memno" value="<%= items.memno %>"></span>
                            <div class="value update"><input class="button" style="background-color:var(--red)" type="submit" value="檢舉會員"></div>
                        </form>
                    <% } %>
                    
                    <div class = "section" style="height: auto; margin-top: 1em;">
                        <% if(items.product.length>0){ %>
                            <div class = "linebar">
                                <span>此會員的商品</span> <span style="float: right">看更多<i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                            </div>
                            
                            <p>
                                <div class = "thumbnails">
                                    <% for(var i=0; i<items.product.length; i++) {%>
                                        <a href="/product/<%= items.product[i].prono %>">
                                            <div class = "thumbnail">
                                                <div class="thumbimg">
                                                    <img src = "<%= items.product[i].picture %>">
                                                </div>
                                                <h1><%= items.product[i].proname %></h1>
                                                <p><%= items.product[i].description %></p>
                                            </div>
                                        </a>
                                    <% } %>
                                </div>
                            </p>
                        <% } else { %>
                            <div class = "linebar">
                                <span>此會員的目前無任何商品</span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>
        <%- include('public/footer'); -%>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
</html>