<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head') -%>  
        <style>
            div.item {
                border: 2px solid #000;
                width: 1050px;
                height: 200px;
                margin:10px auto;
                padding: 25px;
                box-sizing: border-box;
            }

            div.item img{
                float:left;
                margin-right: 20px;
            }

            div.item h1{
                margin-top: 0;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 檢舉會員</h1>
                <form action = "/member/report/add" method = "post">
                    <div class="inline-block">
                        <div class="left">
                            <div class="avatar" style="height: 10em;width:10em;margin-right: 0">
                                <img src="/<%= items.picture %>" width="100%">
                            </div>
                            <h2 style="text-align: center;width: auto"><%= items.nickname %></h2>
                            <input type="hidden" name="memno" value="<%= items.memno %>">
                        </div>
                        
                        <div class="right">
                            <input type="checkbox" name="type" value="1">1.商品與實際收到的物品不合
                            <input type="checkbox" name="type" value="2">2.付款後依舊未收到物品
                            <input type="checkbox" name="type" value="3">3.詐欺
                        </div>
                        <div class="right">
                            <input type="checkbox" name="type" value="4">4.隨意取消訂單
                            <input type="checkbox" name="type" value="5">5.未定期更新進度
                            <input type="checkbox" name="type" value="6">6.其他
                        </div>
                        <textarea name="content" placeholder="請輸入文字" rows="5" maxlength="255" style = "width:calc(60%);margin-top: 2px; font-size: 16px; line-height: 30px" disabled></textarea>

                    </div>
                    
                    <div style="float: right">
                            <div class="value" style="margin-left: 1em;margin-top: 1em;float: right;"><input class="button" type="submit" value="確認"></div>
                        
                    </div>
                </form>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>

    <script>
        $("input[value=6]").change(function(){
            if ($(this).prop("checked")) {
                $("textarea").prop("disabled",false)
            }
            else {
                $("textarea").prop("disabled",true)
            }
        })
    </script>
</html>