<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            ul.progress-bar {
                float: none;
            }
            ul.progress-bar .bar {
                width: 20em;
                height: 1em;
                position: absolute;
                background: var(--dark-color);
                margin-top: 1em;
                margin-left: 0.5em;
                z-index: 50;
            }
            ul.progress-bar .bar .progress {
                width: 50%;
                height: 100%;
                background: var(--green);
            }
            ul.progress-bar li {
                float: left;
                list-style: none;
                width: 3em;
                height: 3em;
                background: var(--dark-color);
                margin-right: 1.5em;
                border-radius: 50%;
                position: relative;
                z-index: 100;
                text-align: center;
            }
            ul.progress-bar li span{
                position: relative;
                top: 100%;
                color: #000;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <span id='variableJSON' hidden>
                    <%= JSON.stringify(items); %>
                </span>
                <h1><i class="fa fa-th-list" aria-hidden="true"></i>訂單</h1>
                <input id="memno" value="<%= user %>" hidden>
                <div class="tab-form">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'buy')">您下的訂單</button>
                        <button class="tablinks" onclick="openTab(event, 'sell')">您接受的訂單</button>
                    </div>
                    
                    <div id="buy" class="tabcontent">
                        <% if (items.buy.length>0){ %>
                            <% for(var i=0;i<items.buy.length;i++){ %>
                                <div id="buy<%= items.buy[i][0].ordno %>" class = "section" style="height: auto; position: relative">
                                    <div style="margin-bottom: 0.5em; display: flow-root;">
                                        <div class = "left" style="color:#000">
                                            <span>訂單編號: <%= items.buy[i][0].ordno %></span>
                                            <br/>
                                            <span>付款方式: <%= items.buy[i][0].payno %></span>
                                            <br/>
                                            <span>下單日期: <%= items.buy[i][0].orddate %></span>
                                            <br/>
                                            <div>
                                                <span style="float: left;">備註:</span>
                                                <textarea placeholder="無備註" textarea rows="2" readonly style = "width:19em; font-size: 16px; line-height: 30px"><%= items.buy[i][0].request %></textarea>
                                            </div>
                                        </div>
                                        <a href="/member?user=<%= items.buy[i][0].promemno %>">
                                            <div class = "avatar" style="overflow: inherit;float: right; text-align: center;line-height: 1.5em">
                                                <img src = "/<%= items.buy[i][0].picture %>" width="100%" style="clip-path: circle(50% at 50% 50%);">
                                                <span>賣家</span>
                                                <br>
                                                <span><%= items.buy[i][0].nickname %></span>
                                            </div>
                                        </a>
                                        <div style="float: right">
                                            <ul id="buy<%= i %>" class = "progress-bar">
                                                <li><span>已下單</span></li>
                                                <li><span>訂單已確認</span></li>
                                                <li><span>製作中</span></li>
                                                <li><span>製作完成</span></li>
                                                <li><span>已出貨</span></li>
                                                <div class = "bar">
                                                    <div class = "progress">
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <% for(var j=0; j<items.buy[i].length; j++){ %>
                                        <div>
                                            <div class = "amt" style="position: absolute;margin-top: 57px;">
                                                <span style="font-size: 32px;width: 80px;margin-top: 48px;margin-left: 760px;color: #000">數量x<%= items.buy[i][j].amt %></span>
                                            </div>
                                            <a href="/product/<%= items.buy[i][j].prono %>"> 
                                                <div class = "section">
                                                    <img src = "/<%= items.buy[i][j].picture %>" height="100%">
                                                    <div class = "right">
                                                        <span>商品名稱: <%= items.buy[i][j].proname %></span>
                                                        <br/>
                                                        <span>售價: <%= items.buy[i][j].price %>$</span>
                                                        <br/>
                                                        <span>商品介紹: <%= items.buy[i][j].description %></span>
                                                        <br/>
                                                        <span>上架日期: <%= items.buy[i][j].date %></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <% } %>
                                    <% if(items.buy[i][0].stat=='N' || items.buy[i][0].stat=='A' || items.buy[i][0].stat=='M'){ %>
                                        <div class="button-group" style="margin-top:0.5em;margin-bottom:0.5em;float:right">
                                            <input class="button delete" style="background:var(--red);margin-top:0.5em;margin-bottom:0.5em;float:right" type="button" value="取消訂單">
                                        </div>
                                    <% }else if(items.buy[i][0].stat=='D'){ %>
                                        <div class="button-group" style="margin-top:0.5em;margin-bottom:0.5em;float:right">
                                            <input class="button delete" style="background:var(--red);margin-top:0.5em;margin-bottom:0.5em;float:right" type="button" value="刪除訂單">
                                        </div>
                                    <% } %>
                                    <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                                </div>
                            <% } %>
                        <% }else{ %>
                            <h3>尚未有任何訂單</h3>
                            <p>何不去逛逛有什麼你想買的呢?</p>
                        <% } %>
                    </div>
                    
                    <div id="sell" class="tabcontent">
                        <% if (items.sell.length>0){ %>
                            <% for(var i=0;i<items.sell.length;i++){ %>
                                <div id="sel<%= items.sell[i][0].ordno %>" class = "section" style="height: auto; position: relative">
                                    <div style="margin-bottom: 0.5em; display: flow-root;">
                                        <div class = "left" style="color:#000">
                                            <span>訂單編號: <%= items.sell[i][0].ordno %></span>
                                            <br/>
                                            <span>付款方式: <%= items.sell[i][0].payno %></span>
                                            <br/>
                                            <span>下單日期: <%= items.sell[i][0].orddate %></span>
                                            <br/>
                                            <div>
                                                <span style="float: left;">備註:</span>
                                                <textarea placeholder="無備註" textarea rows="2" readonly style = "width:19em; font-size: 16px; line-height: 30px"><%= items.sell[i][0].request %></textarea>
                                            </div>
                                        </div>
                                        <a href="/member?user=<%= items.sell[i][0].memno %>">
                                            <div class = "avatar" style="overflow: inherit;float: right; text-align: center;line-height: 1.5em">
                                                <img src = "/<%= items.sell[i][0].picture %>" width="100%" style="clip-path: circle(50% at 50% 50%);">
                                                <span>購買者</span>
                                                <br>
                                                <span><%= items.sell[i][0].nickname %></span>
                                            </div>
                                        </a>
                                        <div style="float: right">
                                            <ul id="sel<%= i %>" class = "progress-bar select">
                                                <li class="1"><span>已下單</span></li>
                                                <li class="2"><span>訂單已確認</span></li>
                                                <li class="3"><span>製作中</span></li>
                                                <li class="4"><span>製作完成</span></li>
                                                <li class="5"><span>已出貨</span></li>
                                                <div class = "bar">
                                                    <div class = "progress">
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                        <% if(i==0){ %>
                                            <div class="hint" style="position:absolute;top:1em;left:25%;color:#000"><span>按一下進度條已修改進度</span><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                        <% } %>
                                    </div>
                                    <% for(var j=0; j<items.sell[i].length; j++){ %>
                                        <div>
                                                <div class = "amt" style="position: absolute;margin-top: 57px;">
                                                    <span style="font-size: 32px;width: 80px;margin-top: 48px;margin-left: 760px;color: #000">數量x<%= items.sell[i][j].amt %></span>
                                            </div>
                                            <a href="/product/<%= items.sell[i][j].prono %>"> 
                                                <div class = "section">
                                                    <img src = "/<%= items.sell[i][j].picture %>" height="100%">
                                                    <div class = "right">
                                                        <span>商品名稱: <%= items.sell[i][j].proname %></span>
                                                        <br/>
                                                        <span>售價: <%= items.sell[i][j].price %>$</span>
                                                        <br/>
                                                        <span>商品介紹: <%= items.sell[i][j].description %></span>
                                                        <br/>
                                                        <span>上架日期: <%= items.sell[i][j].date %></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <% } %>
                                    <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                                    <% if(items.sell[i][0].stat=='N'){ %>
                                        <div class="button-group" style="margin-top:0.5em;margin-bottom:0.5em;float:right">
                                            <input class="button accept" style="background:var(--green);" type="button" value="接受訂單">
                                            <input class="button deny" style="background:var(--red);" type="button" value="拒絕訂單">
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        <% }else{ %>
                            <h3>尚未有任何訂單</h3>
                            <p>何不去去多多推廣你的商品呢?</p>
                        <% } %>
                    </div>
                </div>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script src = "/js/reveal.js"></script>

    <script>
        $('.select').children('li').click(function(){
            if ($(this).css("background-color") == 'rgb(13, 49, 81)' && confirm("確定要更改狀態?")) {
                for (var i = 1; i <= 5; i++) {
                    $(this).parent().children("li:nth-child(" + i + ")").stop().animate({backgroundColor: "#41b883"},{duration:400});
                    if ($(this).hasClass(String(i))) {
                        break;
                    }
                }
                $(this).parent().children(".bar").children(".progress").stop().animate({width: String((i-1)*25)+"%"},{duration:400});
                $(".hint").remove();
                var stat;
                switch(i) {
                    case 3:
                        stat='M'
                        break;
                    case 4:
                        stat='F'
                        break;
                    case 5:
                        stat='S'
                        break;
                }
                var section = $(this).parent().parent().parent().parent();
                $.post('/order/update', {ordno: section.attr("id").slice(3),stat: stat, memno:$('#memno').val()});
            }
        });
        $('.button').click(function(){
            if ($(this).hasClass("delete") && confirm("確定要" + $(this).val().slice(0,2) + "?")) {
                var section =$(this).parent().parent();
                $.post('/order/remove', {ordno: section.attr("id").slice(3), memno:$('#memno').val()});
                section.children().remove();
                section.append('<h1>訂單已' + $(this).val().slice(0,2) + '<h1>');
                section.css("height","auto");
                section.css("color","#000");
            }
            if ($(this).hasClass("accept") && confirm("確定要接受?")) {
                var section =$(this).parent().parent();
                $.post('/order/update', {ordno: section.attr("id").slice(3),stat: "A",memno:$('#memno').val()});
                section.children().children().children(".progress-bar").each(function(){
                    $(this).children("li:first").stop().animate({backgroundColor: "#41b883"},{duration:400});
                    $(this).children("li:nth-child(2)").stop().animate({backgroundColor: "#41b883"},{duration:400});
                    $(this).children(".bar").children().stop().animate({width:"25%"},{duration:400});
                });
                var nextHeight = parseInt(section.css("height"))-parseInt(section.children(".button-group").css("height"))-parseInt(section.children(".button-group").css("margin-top"))-parseInt(section.children(".button-group").css("margin-bottom"))
                section.stop().animate({height: nextHeight}, {duration:100, easing:'easeOutExpo'});
                section.children(".button-group").remove();
                // section.append('<h1>訂單已取消<h1>');
                // section.css("height","auto");
                // section.css("color","#000");
            }
            if ($(this).hasClass("deny") && confirm("確定要拒絕?")) {
                var section =$(this).parent().parent();
                $.post('/order/update', {ordno: section.attr("id").slice(3),stat: "D",memno:$('#memno').val()});
                section.children().remove();
                section.append('<h1>訂單已拒絕<h1>');
                section.css("height","auto");
                section.css("color","#000");
            }
        });
        $(window).on("load",function(){
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks")[0];
            tablinks.className += " active";
            tabcontent[0].style.display = "block";
            var item = JSON.parse($('#variableJSON').text());
            $("#variableJSON").remove();
            
            $(".progress-bar").each(function(){
                var type = $(this).attr("id").slice(0,3);
                var no = parseInt($(this).attr("id").slice(3));
                var progress;
                if (type == 'buy') {
                    progress = item.buy[no][0].stat;
                    console.log(progress)
                }
                else {
                    progress = item.sell[no][0].stat;
                    console.log(progress)
                }
                console.log(progress)
                switch (progress) {
                    case "S":
                        $(this).children("li").css("background","var(--green)");
                        $(this).children(".bar").children().css("width","100%");
                        break;
                    case "F":
                        $(this).children("li:first").css("background","var(--green)");
                        $(this).children("li:nth-child(2)").css("background","var(--green)");
                        $(this).children("li:nth-child(3)").css("background","var(--green)");
                        $(this).children("li:nth-child(4)").css("background","var(--green)");
                        $(this).children(".bar").children().css("width","75%");
                        break;
                    case "M":
                        $(this).children("li:first").css("background","var(--green)");
                        $(this).children("li:nth-child(2)").css("background","var(--green)");
                        $(this).children("li:nth-child(3)").css("background","var(--green)");
                        $(this).children(".bar").children().css("width","50%");
                        break;
                    case "A":
                        $(this).children("li:first").css("background","var(--green)");
                        $(this).children("li:nth-child(2)").css("background","var(--green)");
                        $(this).children(".bar").children().css("width","25%");
                        break;
                    case "D":
                        $(this).children("li").css("background","var(--red)");
                        $(this).children("li").children().remove();
                        $(this).children("li:nth-child(3)").append("<span>已被賣家拒絕</span>");
                        $(this).children(".bar").children().css("width","100%");
                        $(this).children(".bar").children().css("background","var(--red)");
                        break;
                    default:
                        $(this).children("li:first").css("background","var(--green)");
                        $(this).children(".bar").children().css("width","0%");
                        break;

                }
            })
        })
        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</html>

