<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
              
                <div class="tab-form">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'buy')">您下的訂單</button>
                        <button class="tablinks" onclick="openTab(event, 'sell')">您接受的訂單</button>
                    </div>
                    
                    <div id="buy" class="tabcontent">
                        <% if (items.buy.length>0){ %>
                            <% for(var i=0;i<items.buy.length;i++){ %>
                                <a href="#"> 
                                    <div class = "section">
                                        <span>訂單編號: <%= items.buy[i].ordno %></span>
                                        <br/>
                                        <span>付款方式: <%= items.buy[i].payno %></span>
                                        <br/>
                                        <span>下單日期: <%= items.buy[i].orddate %></span>
                                        <br/>
                                        <span>備註: <%= items.buy[i].request %></span>
                                    </div>
                                </a>
                            <% } %>
                        <% }else{ %>
                            <h3>尚未有任何訂單</h3>
                            <p>何不去逛逛有什麼你想買的呢?</p>
                        <% } %>
                    </div>
                    
                    <div id="sell" class="tabcontent">
                        <% if (items.sell.length>0){ %>
                            <% for(var i=0;i<items.sell.length;i++){ %>
                                <a href="#"> 
                                    <div class = "section">
                                        <span>訂單編號: <%= items.sell[i].ordno %></span>
                                        <br/>
                                        <span>付款方式: <%= items.sell[i].payno %></span>
                                        <br/>
                                        <span>下單日期: <%= items.sell[i].orddate %></span>
                                        <br/>
                                        <span>備註: <%= items.sell[i].request %></span>
                                    </div>
                                </a>
                            <% } %>
                        <% }else{ %>
                            <h3>尚未有任何訂單</h3>
                            <p>何不去逛逛有什麼你想買的呢?</p>
                        <% } %>
                    </div>
                </div>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <script>
        $(window).on("load",function(){
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks")[0];
            tablinks.className += " active";
            tabcontent[0].style.display = "block";
        })
        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</html>

