<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>

        <style>
            span.like{
                color: #444;
            }
            .like:hover{
                background:#66cf9f;
                color: #ddd;
                cursor:pointer;
            }
            span.click{
                color: #fff;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                    <div class = "inline-block">
                        <input id='prono' value="<%= item.prono %>" hidden>
                        <div class = "left">
                            <div id="gallery">
                                <img id="preview" src='/<%= item.picture %>' width="100%">
                            </div>
                        </div>
                        
                        <div class = "right">
                            <div class = "item">
                                <span style = "font-size: 30px"><%= item.proname %></span>
                            </div>

                            <div class = "item">          
                                <span class="name">單價: </span>
                                <span style = "font-size: 24px; font-weight: 700;"><%= item.price %>元</span>
                                <br/>
                            </div>

                            <div class = "item">          
                                <span class="name">數量: </span>
                                <span style = "width: 50px"><%= item.amt %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">標籤: </span>
                                <% for(var i=0; i<item.label.length; i++) { %>
                                    <span class="tag"><%= item.label[i].lblname %></span>
                                <% } %>
                            </div>

                            <div class = "item">
                                <span class="name" style = "vertical-align: top">商品介紹: </span><br/>
                                <span style = "width: 100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.description %></span>
                                <br/>
                            </div>
                            
                            <div class = "item">
                                <span class="name">上架日期: </span>
                                <span style = "width: 50px"><%= item.date %></span>
                            </div>

                            <div class = "item">
                                <% if (user == null || user == undefined){ %>
                                    <span class="tag" style = "font-size: 20px;color: #444;">
                                        讚&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;|&nbsp;
                                        <span id="<%= item.likes %>" class="number"><%= item.likes %></span>
                                    </span>
                                <% }else if (item.likesyes == '0'){ %>
                                    <span class="tag like" style = "font-size: 20px">
                                        讚&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;|&nbsp;
                                        <span id="<%= item.likes %>" class="number"><%= item.likes %></span>
                                    </span>
                                <% }else{ %>
                                    <span class="tag like click" style = "font-size: 20px">
                                        讚&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;|&nbsp;
                                        <span id="<%= item.likes %>" class="number"><%= item.likes %></span>
                                    </span>
                                <% } %>
                            </div>

                            <div class = "item">
                                <span class="name" style="font-size:20px; font-weight: 600;">接受付款方式: </span>
                                <br>
                                <% for(var i=0;i<item.payment.length;i++){ %>
                                    <span class="tag"><%= item.payment[i].payname %></span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="division-line" style="border:none"></div>

                    <div class = "inline-block">
                        <a href="/member?user=<%= item.memno %>">
                            <div class="left">
                                <div class="avatar" style="height: 10em;width:10em;margin-right: 0">
                                    <img src="/<%= item.member.picture %>" height="100%">
                                </div>
                                <h2 style="text-align: center;width: auto"><%= item.member.nickname %></h2>
                            </div>
                        </a>
                    </div>
                    <% if(item.memno == user){ %>
                        <form action = "/product/edit/form" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" type="submit" value="修改"></div>
                        </form>
                    <% }else if (shoppingCart===null || shoppingCart===undefined || !shoppingCart.includes(item.prono)){ %>
                        <form action = "/shoppingCart/add" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" type="submit" value="加入購物車"></div>
                        </form>
                    <% }else{ %>
                        <form action = "/shoppingCart/remove" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" style="background: var(--red);" type="submit" value="從購物車清除"></div>
                        </form>
                    <% } %>


                    <div class="division-line"></div>
                    
                    <h1>留言<i class="fa fa-comments-o" aria-hidden="true"></i></h1>
                    <% if(user != null && user != item.memno){ %>
                        <div class="comment-group">
                            <div class = "comment section" style="min-width:576px">
                                <form action = "/comment" method = "post">
                                    <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                                    <span class="value"><input type="hidden" name="memno" value="<%= user %>"></span>
                                    <div class = "avatar">
                                        <img src = "/<%= userpic %>" height="100%">
                                    </div>
                                    <h3>
                                        <%= username %> <span class = "date"> 今天 </span>
                                    </h3>
                                    <textarea name="cmtcontent" placeholder="請輸入文字" textarea rows="2" maxlength="255" style = "width:calc(100%-98px);margin-top: 2px; font-size: 16px; line-height: 30px"></textarea>
                                    <div class="value"><input class="comment-button button" type="submit" value="留言"></div>
                                </form>
                            </div>
                        </div>
                    <% } %>


                    <% for(var i=0;i < item.comment.length;i++){ %>
                        <div class="comment-group">
                            <div class = "comment section">
                                <div class = "avatar">
                                    <img src = "/<%= item.comment[i].picture %>" height="100%">
                                </div>
                                <h3>
                                    <% if(item.comment[i].nickname != null){ %>
                                        <%= item.comment[i].nickname %>
                                    <% }else{ %>
                                        <%= item.comment[i].memname %>
                                    <% } %>
                                    <span class = "date"> <%= item.comment[i].cmtdate %> </span>
                                </h3>
                                <p>
                                    <span class = "text">
                                        &nbsp;&nbsp;&nbsp;&nbsp; <%= item.comment[i].cmtcontent %>
                                    </span>
                                </p>
                                <div class="fill" style="height:40px;background:#fff"></div>
                                <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                            </div>
                            <% if(item.comment[i].rspcontent != null){ %> 
                                <div class = "reply section">
                                    <div class = "avatar">
                                        <img src = "/<%= item.member.picture %>" height="100%">
                                    </div>
                                    <h3>
                                        
                                    <% if(item.member.nickname != null){ %>
                                        <%= item.member.nickname %>
                                    <% }else{ %>
                                        <%= item.member.memname %>
                                    <% } %>
                                    <span class = "date"> <%= item.comment[i].rspdate %> </span>
                                    </h3>
                                    <p>
                                        <span class = "text">
                                            &nbsp;&nbsp;&nbsp;&nbsp; <%= item.comment[i].rspcontent %>
                                        </span>
                                    </p>
                                    <div class="fill" style="height:40px;background:#fff"></div>
                                    <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                                </div>
                            <% }else if(user != null && user == item.memno){ %>
                                <div class = "reply section"" style="min-width:576px">
                                    <form action = "/reply" method = "post">
                                        <span class="value"><input type="hidden" name="cmtno" value="<%= item.comment[i].cmtno %>"></span>
                                        <div class = "avatar">
                                            <img src = "/<%= userpic %>" height="100%">
                                        </div>
                                        <h3>
                                            <%= username %> <span class = "date"> 今天 </span>
                                        </h3>
                                        <textarea name="rspcontent" placeholder="請輸入文字" textarea rows="2" maxlength="255" style = "width:calc(100% - 98px);margin-top: 2px; font-size: 16px; line-height: 30px"></textarea>
                                        <div class="value"><input class="comment-button button" type="submit" value="回覆"></div>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script src = "/js/autosize.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script src = "/js/reveal.js"></script>
    <script>
        var img = document.getElementById(preview);
        $("#gallery").css("height" ,$("#gallery > img").css("height"));

        $(".like").click(function(){
            if ($(this).hasClass("click")) {
                $(this).removeClass("click")
                var n = parseInt($(this).children(".number").attr("id"))
                console.log($(this).children(".number").attr("id"))
                $.post('/like/remove', {prono: $("#prono").val()});
                $(this).children(".number").replaceWith("<span id="+(n-1)+" class=\"number\">"+(n-1)+"</span>")
            }
            else {
                $(this).addClass("click")
                var n = parseInt($(this).children(".number").attr("id"))
                console.log($(this).children(".number").attr("id"))
                $.post('/like/add', {prono: $("#prono").val()});
                $(this).children(".number").replaceWith("<span id="+(n+1)+" class=\"number\">"+(n+1)+"</span>")
            }
        })
        
        
        autosize($('textarea'));
    </script>
</html>
