<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
        <style>
            span.tag{
                position: relative;
                display: inline-block;
                padding: 4px 10px 4px 10px;
                border-radius: 5px;
                margin-right: 10px;
                color: #fff;
                line-height: 1;
                background: #41b883;
                margin-bottom: 8px;
                white-space: nowrap;
            }
            .button-group:after
            .button-group:before{
                content: '';
                clear: both;
                display: inline-block;
            }
            .select2-container{
                width: 300px !important;
            }
            .select2-selection__choice{
                background-color: #41b883 !important;
                color: #fff;
            }
            .select2-selection__choice__remove{
                color: #fff !important;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                    <form class = "form" id = "remove" action = "/product/remove" method="post">
                        <input type="hidden" name="prono" value="<%= item.prono %>">
                    </form>
                    <form class = "form" id = "edit" enctype="multipart/form-data" action = "/product/edit" method = "post">
                        <div class = "inline-block">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class = "left">
                                <span class="value"><input type="hidden" name="picture" value="<%= item.picture %>"></span>
                                <div id="gallery"><img id="preview" src='/<%= item.picture %>' width="100%"></div>
                                <span class="value"><input type="file" name="picture" id = "fileinput" accept = "image/*" value = "<%= item.picture %>" style = "display: none;" /></span>
                                <input type="button" style = "width: 100px; height: 25px; margin-left: 150px; box-sizing: border-box;" value = "選擇圖片" onclick = "document.getElementById('fileinput').click();" />
                            </div>
                            
                            <div class = "right">
                                <div class = "item">
                                    <span class="value"><input type="text" name="proname" placeholder="請輸入商品名稱" autocomplete="off" style="font-size: 30px;" value="<%= item.proname %>" required></span>
                                </div>

                                <div class = "item">          
                                    <span class="name">單價: $</span>
                                    <span class="value"><input type="number" name="price" placeholder="" style = "width: 50px" value="<%= item.price %>" required></span>
                                    <br/>
                                </div>

                                <div class = "item">          
                                    <span class="name">數量: </span>
                                    <span class="value"><input type="number" name="amt" placeholder="" style = "width: 50px" value="<%= item.amt %>" required></span>
                                </div>

                                <div class = "item">                     
                                    <span class="name">標籤: </span>
                                    <span class="value">
                                        <select id="e1" multiple name="lblno">
                                            <% for(var i=0; i<label.length; i++) {%>
                                                <option id="<%= label[i].lblno %>" value="<%= label[i].lblno %>"><%= label[i].lblname %></option>
                                            <% } %>
                                        </select>
                                        <span id='variableJSON' hidden>
                                            <%= JSON.stringify(item.label); %>
                                        </span>
                                    </span>
                                </div>

                                <div class = "item">
                                    <span class="name" style = "vertical-align: top">商品介紹: </span><br/>
                                    <span class="value"><textarea name="description" placeholder="請輸入文字" textarea cols="40" rows="7" maxlength="255" style = "margin-top: 2px; resize: none; font-size: 16px;"><%= item.description %></textarea></span>
                                    <br/>
                                    <span class="hint" style = "left: 72px;">(最大字數限制為255個字)</span>
                                </div>
                                
                                <div class = "item">
                                    <span class="name">付費方式: </span>
                                    <span class="value"><input type="button" name="paymethod" value="選擇可行付費方式" ></span>
                                </div>

                                <div class = "item">
                                    <span class="name">上架日期: </span>
                                    <span style = "width: 50px"><%= item.date %></span>
                                </div>
                            </div>
                        </div>
                        </span>
                        <div class="division-line"></div>
                        <span class="button-group" style="float: right">
                            <input class = "button" type="submit" value="修改" >
                            <input class = "button remove" style=" background: var(--red);margin-left: 1em" type="button" value="刪除">

                        </div>
                    </form>
                </div>
            </div>
            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>

    <script src="/js/select2.full.min.js"></script>

    <script src="/js/ejs.min.js"></script>

    <script>
        var variableJSON = JSON.parse($('#variableJSON').text());
        $("#variableJSON").remove();
        for (var i = 0; i < variableJSON.length; i++) {
            var ch = "#"+variableJSON[i].lblno;
            $("#e1").children(ch).attr("selected","selected");
        }
        $("#e1").select2();
    </script>

    <script>
        var img = document.getElementById(preview);
        $("#gallery").css("height" ,$("#gallery > img").css("height"));
    </script>
    <script src = "/js/preview_image.js"></script>
</html>
