<!DOCTYPE html>
<html>
    <head>
        <title>papapapapapa</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="/stylesheets/menu.css" rel="stylesheet"/>  
        <link href="/stylesheets/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                    <div class = "inline-block">
                        <div class = "left">
                            <div id="gallery">
                                <img id="preview" src='/<%= item.picture %>' width="100%">
                            </div>
                        </div>
                        
                        <div class = "right">
                            <div class = "item">
                                <span style = "font-size: 30px"><%= item.proname %></span>
                            </div>

                            <div class = "item">          
                                <span class="name">單價: </span>
                                <span style = "font-size: 24px; font-weight: 700;"><%= item.price %>元</span>
                                <br/>
                            </div>

                            <div class = "item">          
                                <span class="name">數量: </span>
                                <span style = "width: 50px"><%= item.amt %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">標籤: </span>
                                <% for(var i=0; i<item.label.length; i++) { %>
                                    <span class="tag"><%= item.label[i].lblname %></span>
                                <% } %>
                            </div>

                            <div class = "item">
                                <span class="name" style = "vertical-align: top">商品介紹: </span><br/>
                                <span style = "width: 100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.description %></span>
                                <br/>
                            </div>
                            
                            <div class = "item">
                                <span class="name">付費方式: </span>
                                <span style = "width: 50px"><%= item.paymethod %></span>
                            </div>

                            <div class = "item">
                                <span class="name">上架日期: </span>
                                <span style = "width: 50px"><%= item.date %></span>
                            </div>
                        </div>
                    </div>
                    <% if(item.memno == user){ %>
                        <form action = "/product/edit/form" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" type="submit" value="修改"></div>
                        </form>
                    <% }else if (shoppingCart===null || shoppingCart===undefined || !shoppingCart.includes(item.prono)){ %>
                        <form action = "/shoppingCart/add" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" type="submit" value="加入購物車"></div>
                        </form>
                    <% }else{ %>
                        <form action = "/shoppingCart/remove" method = "post">
                            <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                            <div class="value update"><input class="button" style="background: var(--red);" type="submit" value="從購物車清除"></div>
                        </form>
                    <% } %>


                    <div class="division-line"></div>
                    
                    <h1>留言</h1>
                    <% if(user != null && user != item.memno){ %>
                        <div class="comment-group">
                            <div class = "comment section" style="min-width:576px">
                                <form action = "/comment" method = "post">
                                    <span class="value"><input type="hidden" name="prono" value="<%= item.prono %>"></span>
                                    <span class="value"><input type="hidden" name="memno" value="<%= user %>"></span>
                                    <div class = "avatar">
                                        <img src = "/<%= userpic %>" height="100%">
                                    </div>
                                    <h3>
                                        <%= username %> <span class = "date"> 今天 </span>
                                    </h3>
                                    <textarea name="cmtcontent" placeholder="請輸入文字" textarea cols="48" rows="2" maxlength="255" style = "margin-top: 2px; resize: none; font-size: 16px; line-height: 30px"></textarea>
                                    <div class="value"><input class="comment-button button" type="submit" value="留言"></div>
                                </form>
                            </div>
                        </div>
                    <% } %>


                    <% for(var i=0;i < item.comment.length;i++){ %>
                        <div class="comment-group">
                            <div class = "comment section">
                                <div class = "avatar">
                                    <img src = "/<%= item.comment[i].picture %>" height="100%">
                                </div>
                                <h3>
                                    <% if(item.comment[i].nickname != null){ %>
                                        <%= item.comment[i].nickname %>
                                    <% }else{ %>
                                        <%= item.comment[i].memname %>
                                    <% } %>
                                    <span class = "date"> <%= item.comment[i].cmtdate %> </span>
                                </h3>
                                <p>
                                    <span class = "text">
                                        &nbsp;&nbsp;&nbsp;&nbsp; <%= item.comment[i].cmtcontent %>
                                    </span>
                                </p>
                                <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                            </div>
                            <% if(item.comment[i].rspcontent != null){ %> 
                                <div class = "reply section">
                                    <div class = "avatar">
                                        <img src = "/<%= item.member.picture %>" height="100%">
                                    </div>
                                    <h3>
                                        
                                    <% if(item.member.nickname != null){ %>
                                        <%= item.member.nickname %>
                                    <% }else{ %>
                                        <%= item.member.memname %>
                                    <% } %>
                                    <span class = "date"> <%= item.comment[i].rspdate %> </span>
                                    </h3>
                                    <p>
                                        <span class = "text">
                                            &nbsp;&nbsp;&nbsp;&nbsp; <%= item.comment[i].rspcontent %>
                                        </span>
                                    </p>
                                    <div class="reveal"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                                </div>
                            <% }else if(user != null && user == item.memno){ %>
                                <div class = "reply section"" style="min-width:576px">
                                    <form action = "/reply" method = "post">
                                        <span class="value"><input type="hidden" name="cmtno" value="<%= item.comment[i].cmtno %>"></span>
                                        <div class = "avatar">
                                            <img src = "/<%= userpic %>" height="100%">
                                        </div>
                                        <h3>
                                            <%= username %> <span class = "date"> 今天 </span>
                                        </h3>
                                        <textarea name="rspcontent" placeholder="請輸入文字" textarea cols="48" rows="2" maxlength="255" style = "margin-top: 2px; resize: none; font-size: 16px; line-height: 30px"></textarea>
                                        <div class="value"><input class="comment-button button" type="submit" value="回覆"></div>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src = "/js/autosize.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script>
        var img = document.getElementById(preview);
        $("#gallery").css("height" ,$("#gallery > img").css("height"));
        
        
        $(window).on("load",function(){
            $(".reveal").each(function(){
                var text = $(this).parents().children("p").children("span.text");
                var preHeight = text.css("height");
                text.css("height","100%");
                var maxHeight = text.css("height");
                text.css("height",preHeight);
                
                if (parseInt(maxHeight) <= parseInt(preHeight)) {
                    $(this).css("background","#666");
                    $(this).css("cursor","default");
                    $(this).children().remove();
                }
                else {
                    $(this).addClass("active")
                }
            })
        })
        autosize($('textarea'));
        $(".reveal").click(function(event){
            if ($(this).hasClass("active")){
                event.preventDefault();
                var text = $(this).parents().children("p").children("span.text");
                var preHeight = text.css("height");
                text.css("height","100%");
                var maxHeight = text.css("height");
                text.css("height",preHeight);

                if (!text.hasClass("opened")) {
                    text.addClass("opened");
                    text.stop().a
                    text.stop().animate({height: maxHeight}, {duration:400, easing:'easeOutExpo'});
                    $(this).children().removeClass("fa-arrow-down");
                    $(this).children().addClass("fa-arrow-up");
                }
                else {
                    text.removeClass("opened");
                    text.stop().animate({height: "60px"}, {duration:400, easing:'easeOutExpo'});
                    $(this).children().removeClass("fa-arrow-up");
                    $(this).children().addClass("fa-arrow-down");
                }
            }
        });
    </script>
</html>
