<!DOCTYPE html>
<html>
    <head>
        <title>papappapapa</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="/stylesheets/menu.css" rel="stylesheet"/>  
        <link href="/stylesheets/main.css" rel="stylesheet"/>    
    </head>

    <body>
        <div class = "container">
            <div class = "header">           
            </div>

            <div class = "navbar">
            </div>

            <div class = "content">
                <h2>訂單檢視 </h2>
                <form action = "product/list/show" method = "post">
                <table>
                    <thead>
                        <tr>
                            
                            <th width="15%">客戶名稱</th>
                            <th width="15%">編號</th>
                            <th width="15%">商品名稱</th>
                            <th width="15%">單價</th>   
                            <th width="20%">數量</th>
                            <th width="20%">日期</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<items.length; i++) {%>
                            <tr>
                                <td><%= items[i].cusname %></td>
                                <td><a href="/product/one/<%= items[i].prono %>"><%= items[i].prono %></a></td>
                                <td><%= items[i].proname %></td> 
                                <td><%= items[i].price %></td> 
                                <td><%= items[i].amount %></td> 
                                <td><%= items[i].inventorydate %></td>                       
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>   
                
            </div>

            <div class = "footer">
            </div>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src = "/js/public_div.js"></script>
</html>
