<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%> 
        <style>
            .searchbar input[type="submit"]{
                position: relative;
                top: -5px;
            }
            
            div.item {
                border: 2px solid #000;
                width: 1050px;
                height: 200px;
                margin:10px auto;
                padding: 25px;
                box-sizing: border-box;
            }

            div.item img{
                float:left;
                margin-right: 20px;
            }
            .tag:hover{
                cursor: pointer;
            }
            div.item h1{
                margin-top: 0;
            }
            #label-group{
                overflow: hidden;
                margin: 0 auto;
                display: block
            }
        </style>
    </head>

    <body style="height:100%">
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class="searchbar">
                    <form class = "form" action = "/product/page/1" method = "get">
                        <i class="fa fa-search" aria-hidden="true" style="font-size: 40px;"></i>
                        <span class="value"><input type="text" style="height: 40px;" name="search" value="<%= search %>"></span>

                        <span class="value" style="top: -3px;position: relative;">
                            <select name="type">
                                <option value="product">商品</option>
                                <option value="member">會員</option>
                            </select>
                        </span>
                        <span class="value"><input class="button" type="submit" value="查詢" ></span>
                        <input name="data" id='data' hidden>
                    </form>
                </div>
                <span id='variableJSON' hidden>
                    <%= JSON.stringify(label); %>
                </span>
                <span id="label-group">
                    <% for(var i=0; i<items.label.length; i++) {%>
                        <span id="<%= items.label[i].lblno %>" style="float: left" class="tag"><%= items.label[i].lblname %></span>
                    <% } %>
                </span>

                <%- include('public/page'); -%>

                <% for(var i=0; i<items.data.length; i++) {%>
                    <a href="/product/<%= items.data[i].prono %>"> 
                        <div class = "section" >
                            <div style="max-width:200px;height:134px;overflow: hidden;position: relative;float: left;margin-right: 1em;box-shadow: 0px 0px 3px 0px #000;">
                                <img src = "/<%= items.data[i].picture %>" height="100%" style="margin: 0px">
                            </div>
                            <div class = "right">
                                <span>商品名稱: <%= items.data[i].proname %></span>
                                <br/>
                                <span>售價: <%= items.data[i].price %>元</span>
                                <br/>
                                <span>商品介紹: <%= items.data[i].description %></span>
                                <br/>
                                <span>上架日期: <%= items.data[i].date %></span>
                            </div>
                            <div class = "right">
                                <% for(var j = 0; j < items.data[i].label.length; j++){ %>
                                    <span class="tag <%= items.data[i].label[j].lblno %>"><%= items.data[i].label[j].lblname %></span>
                                <% } %>
                            </div>
                        </div>
                    </a>
                <% } %>

                <%- include('public/page'); -%>
                
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

    <script src="/js/ejs.min.js"></script>

    <script>
        var variableJSON = JSON.parse($('#variableJSON').text());
        $("#variableJSON").remove();
        $(window).on('load',function(){
            for (var i = 0; i < variableJSON.length; i++) {
                $('#'+ variableJSON[i]).css("background-color","var(--red)");
                $('#'+ variableJSON[i]).addClass("selected");
                $('.'+ variableJSON[i]).css("background-color","var(--red)");
            }
        })
        $("select[name=type]").change(function(){
            if ($("select[name=type]").find(":selected").val() == "product") {
                $("#label-group").css("display","block")
                $("#label-group").stop().slideDown()
            }
            else {
                $("#label-group").stop().slideUp()
            }
        })
        $(".tag").click(function(){
            if ($(this).hasClass("selected")) {
                $(this).css("background-color","var(--green)");
                $(this).removeClass("selected");
            }
            else {
                $(this).css("background-color","var(--red)");
                $(this).addClass("selected");
            }
            var label = []
            $(".tag").each(function(){
                if ($(this).hasClass("selected")) {
                    label.push($(this).attr("id"));
                }
            })
            $('#data').val(JSON.stringify(label))
        })
    </script>
</html>
