<!DOCTYPE html>
<html>
    <head>
        <title>123123</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="/stylesheets/menu.css" rel="stylesheet"/>  
        <link href="/stylesheets/main.css" rel="stylesheet"/> 
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "data" style="padding:20px 20px 0 20px; margin:0">
                    <div class = "inline-block">
                        <div class = "left">
                            <div id="gallery">
                                <img id="preview" src='/<%= item.picture %>' width="100%">
                            </div>
                        </div>
                        
                        <div class = "right">

                            <div class = "item">
                                <span class="name">用戶名稱:</span>
                                <span style = "font-size: 30px; font-weight: 800;"><%= item.account%></span>
                            </div>

                            <div class = "item">
                                <span style = "font-size: 30px"><%= item.memname %></span>
                            </div>

                            <div class = "item">          
                                <span class="name">暱稱: </span>
                                <span style = "font-size: 24px; font-weight: 700;"><%= item.nickname %>元</span>
                                <br/>
                            </div>

                            <div class = "item">                     
                                <span class="name">密碼: </span>
                                <span class="tag"><%= item.label[i].password %></span>
                            </div>

                            <div class = "item">          
                                <span class="name">Email: </span>
                                <span style = "width: 50px"><%= item.email %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">備用 Email: </span>
                                <span class="tag"><%= item.label[i].backupemail %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">性別: </span>
                                <span class="tag"><%= item.label[i].sex %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">電話號碼: </span>
                                <span class="tag"><%= item.label[i].tel %></span>
                            </div>

                            <div class = "item">                     
                                <span class="name">地址: </span>
                                <span class="tag"><%= item.label[i].address %></span>
                            </div>
                        </div>
                    </div>
                    <% if(item.memno == user){ %>
                        <form action = "/profile/edit/form" method = "post">
                            <span class="value"><input type="hidden" name="memno" value="<%= item.memno %>"></span>
                            <div class="value update"><input class="button" type="submit" value="修改"></div>
                        </form>
                    <% }else{ %>
                        <form action = "/member/report" method = "post">
                            <span class="value"><input type="hidden" name="memno" value="<%= item.memno %>"></span>
                            <div class="value update"><input class="button" type="submit" value="檢舉會員"></div>
                        </form>
                    <% } %>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</html>