<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
        <style>
            div.item {
                border: 2px solid #000;
                width: 1050px;
                height: 200px;
                margin:10px auto;
                padding: 25px;
                box-sizing: border-box;
            }

            div.item img{
                float:left;
                margin-right: 20px;
            }

            div.item h1{
                margin-top: 0;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i> 我的購物車</h1> <% if(items.length > 0 && (user == null || user == undefined)){ %><p>提示:登入才能下訂單喔!<p><% } %>
                <% if(items.length > 0){ %>
                    <div style="background: var(--main-color); border: var(--darker-color) solid 5px ; padding: 5%;box-sizing: border-box;">
                        <% for(var i=0; i<items.length; i++) {%>
                            <div id = "<%= i %>" class = "section" style="height: auto">
                                <h2>賣家: <%= items[i][0].nickname %></h2>
                                <% for(var j=0; j<items[i].length; j++) {%>
                                    <% if (j==0){ %>
                                        <form class="product" action = "/shoppingCart/remove" method = "post">
                                            <select name='prono' multiple hidden>
                                                <% for(var k=0; k<items[i].length; k++) {%>
                                                    <option value ="<%= items[i][k].prono %>" selected></option>
                                                <% } %>
                                            </select>
                                        </form>
                                    <% } %>
                                    <div class="prono">
                                        <div class = "amt" id="<%= items[i][j].prono %>" style="position: absolute">
                                            <input type="number" name="amt" style="font-size: 32px;width: 80px;margin-top: 48px;margin-left: calc(820px - 80px - 1em);" value="1" min="1" max="<%= items[i][j].amt %>">
                                        </div>
                                        <input class='price' value="<%= items[i][j].price %>" hidden>
                                        <a href="/product/<%= items[i][j].prono %>"> 
                                            <div class = "section">
                                                <img src = "/<%= items[i][j].picture %>" height="100%">
                                                <div class = "right">
                                                    <span>商品名稱: <%= items[i][j].proname %></span>
                                                    <br/>
                                                    <span>售價: <%= items[i][j].price %>$</span>
                                                    <br/>
                                                    <span>商品介紹: <%= items[i][j].description %></span>
                                                    <br/>
                                                    <span>上架日期: <%= items[i][j].date %></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <% } %>
                                <h2>備註:</h2>
                                <span class="value"><textarea name="request" placeholder="請輸入文字" textarea rows="5" maxlength="255" style = "width:100%; margin-top: 2px; resize: none; font-size: 16px;"></textarea></span>
                                <h2>選擇付費方式:</h2>
                                <span id='variableJSON' hidden>
                                    <%= JSON.stringify(product); %>
                                </span>
                                <div class="button-group">
                                    <% for(var j=0; j<items[i][0].payment.length; j++) {%>
                                        <label class="button" style="background:#444;display:inline-grid;cursor: pointer;-webkit-appearance: button-bevel;" for="<%= items[i][0].memno %><%= items[i][0].payment[j].payno %>">
                                            <input name="radio[<%= i %>]" id="<%= items[i][0].memno %><%= items[i][0].payment[j].payno %>" value="<%= items[i][0].payment[j].payno %>"" style="margin: 0 auto;display: none" type="radio"><span style="margin: auto"><%= items[i][0].payment[j].payname %></span>
                                        </label>
                                    <% } %>
                                    
                                    <input class = "button remove" style=" background: var(--red);margin-left: 1em; float:right" type="button" value="刪除">
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div style="float: right">
                        <h1 id="sum" style="float: left;margin-top: 1em;">總共<%= sum %>$</h1>
                        <form action = "/shoppingCart/confirm" method = "post">
                            <input name="data" id='data' hidden>
                            <% if (user!=undefined && user!=null){ %> <input name="user" id='user' hidden> <% } %>
                            <div class="value" style="margin-left: 1em;margin-top: 1em;float: right;"><input class="button" type="submit" value="確認"></div>
                        </form>
                    </div>
                <% }else{ %>
                    <h3>購物車還是空空的!</h3>
                    <p>何不去逛逛有什麼你想買的呢?</p>
                <% } %>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script>
        var variableJSON = JSON.parse($('#variableJSON').text());
        $("#variableJSON").remove();
        var removed = [];
        
        function dataChange(){
            var chek = true;
            var login = false;
            if ($('div.button-group:not(:has(:radio:checked))').length) {
                var chek = false;
            }
            if ($('#user').length > 0) {
                var login = true;
            }

            if (chek && login) {
                payno = [];
                request = [];
                $('div.button-group').each(function(){
                    $(this).children().children().each(function(){
                        if ($(this).prop("checked")) {
                            payno.push($(this).val());
                        }
                    })
                })
                $('textarea[name=request]').each(function(){
                    request.push($(this).val());
                })
                var newPost = []
                
                var id = [];
                $('.amt').each(function(){
                    id.push({no:$(this).attr("id"),amt:parseInt($(this).children().val())})
                })
                var k = 0;
                for (var i = 0; i < variableJSON.length; i++) {
                    if (!removed.includes(i)) {
                        for (var j = 0; j < variableJSON[i].length; j++) {
                            var amt = 0;
                            for (var l = 0; l < id.length; l++) {
                                if (id[l].no == variableJSON[i][j]) {
                                    amt = id[l].amt
                                    break;
                                }
                            }
                            if (j == 0) {
                                newPost.push({no:i,payno:payno[k],product:[{prono:variableJSON[i][j],amt:amt}],request:request[k]})
                            }
                            else {
                                newPost[k].product.push({prono:variableJSON[i][j],amt:amt});
                            }
                            console.log(newPost)
                        }
                        k++
                    }
                }
                // console.log(newPost)
                // console.log(JSON.stringify(newPost))
                $('#data').val(JSON.stringify(newPost))

                $(':input[type="submit"]').prop('disabled', false);
                $(':input[type="submit"]').css("background","var(--green)");
            }
            else {
                $(':input[type="submit"]').prop('disabled', true);
                $(':input[type="submit"]').css("background","#444");
            }
        }

        $(':input[type=radio]').each(function(){
            $(this).parent().css("background","#444");
            $(':input[type="submit"]').prop('disabled', true);
            $(':input[type="submit"]').css("background","#444");
        })
        
        $('.remove').click(function(){
            if (confirm("確定要刪除?")) {
                removed.push(parseInt($(this).parent().parent().attr('id')))
                $(this).parent().parent().children('form.product').each(function(){
                    $(this).submit()
                })
                $(this).parent().parent().remove();
                dataChange();
                if ($(':input[type=radio]').length <= 0) {
                    $(':input[type="submit"]').prop('disabled', true);
                    $(':input[type="submit"]').css("background","#444");
                }
            }
        })
        
        $(':input').change(function(){
            $(':input[type=radio]').each(function(){
                $(this).parent().css("background","#444");
                if($(this).prop("checked")) {
                    $(this).parent().css("background","var(--green)");
                }
            })
            var sum = 0;
            $(":input.price").each(function(){
                sum += (parseInt($(this).val()) * parseInt($(this).parent().children('div.amt').children(':input[name=amt]').val()))
            })
            console.log(sum)
            $('#sum').replaceWith('<h1 id="sum" style="float: left;margin-top: 1em;">總共'+sum+'$</h1>')

            dataChange();
        })
    </script>
</html>
